<div class="container d-flex flex-row flex-wrap justify-content-end"
     xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

    <div class="btn-group" role="group">
        <a class="btn btn-lg btn-primary" th:href="@{/}">
            Home
        </a>
        <a class="btn btn-lg btn-primary" th:href="@{/productList}">
            Product List
        </a>
        <a class="btn btn-lg btn-primary" th:href="@{/shoppingCart}">
            My Cart
        </a>
        <th:block sec:authorize="hasAnyRole('ROLE_MANAGER','ROLE_EMPLOYEE')">
            <a class="btn btn-lg btn-primary" th:href="@{/admin/orderList}">
                Order List
            </a>
        </th:block>
        <th:block sec:authorize="hasRole('ROLE_MANAGER')">
            <a class="btn btn-lg btn-primary" th:href="@{/admin/product}">
                Create Product
            </a>
        </th:block>
    </div>

</div>