<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>GREEK SHOP product list</title>
    <link rel="stylesheet" type="text/css"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <style>
        body {
        background-image: url("img/yacht.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
       }
    </style>
</head>
<body>
<div class="container p-2 mx-2 mb-3 mx-auto bg-light shadow rounded">
    <div class="row my-1">
        <th:block th:include="fragments/header"></th:block>
    </div>
    <div class="row my-1">
        <th:block th:include="fragments/menu"></th:block>
    </div>
    <div class="row my-1">
        <div class="container">
            <div class="text-primary">
                <h2>Order Info</h2>
            </div>
        </div>
    </div>
    <div class="row my-1">
        <div class="container">
            <h3>Customer Information:</h3>
            <ul>
                <li>Company Name(if not null): <span th:utext="${customerInfo.companyName}"></span></li>
                <li>First Name: <span th:utext="${customerInfo.firstName}"></span></li>
                <li>Last Name: <span th:utext="${customerInfo.lastName}"></span></li>
                <li>email: <span th:utext="${customerInfo.email}"></span></li>
                <li>phone: <span th:utext="${customerInfo.phone}"></span></li>

                <li>Country: <span th:utext="${addressInfo.country}"></span></li>
                <li>City: <span th:utext="${addressInfo.city}"></span></li>
                <li>zip code: <span th:utext="${addressInfo.zipCode}"></span></li>
                <li>Street: <span th:utext="${addressInfo.street}"></span></li>
                <li>House Number: <span th:utext="${addressInfo.houseNumber}"></span></li>

                <li>Order number: <span th:utext="${orderInfo.orderNum}"></span></li>
                <li>Date of order: <span th:utext="${orderInfo.orderDate}"></span></li>
                <li>Amount Gross: <span th:utext="${orderInfo.amountGross}"></span></li>
                <li>Amount Nett: <span th:utext="${orderInfo.amountNett}"></span></li>

            </ul>
            <h3>Order Summary:</h3>
            <ul>
                <li>Total:
                    <span class="text-primary" th:utext="${#numbers.formatDecimal(orderInfo.amountNett,1,2,'COMMA')}">
               </span>
                </li>
            </ul>
            <br>
        </div>
        <div class="container">
            <table border="1" style="width:100%">
                <tr>
                    <th>Product Code</th>
                    <th>Product Name</th>
                    <th>Quantity</th>
                    <th>Price Nett</th>
                    <th>Amount Nett</th>
                    <th>Amount Gross</th>

                </tr>
                <tr th:each="orderDetailInfo : ${orderInfo.details}">
                    <td th:utext="${orderDetailInfo.product.getCode}"></td>
                    <td th:utext="${orderDetailInfo.product.getName}"></td>
                    <td th:utext="${orderDetailInfo.quantity}"></td>
                    <td th:utext="${#numbers.formatDecimal(orderDetailInfo.priceNett,1,2,'COMMA')}"></td>
                    <td th:utext="${#numbers.formatDecimal(orderDetailInfo.amountNett,1,2,'COMMA')}"></td>
                    <td th:utext="${#numbers.formatDecimal(orderDetailInfo.amountGross,1,2,'COMMA')}"></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row my-1">
        <th:block th:include="fragments/footer"></th:block>
    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>